@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Users can use this application to search certain retailers by applying several criteria. After choosing a retailer, the user can book acquisitions in a certain retailer at a scheduled time. Users can also look up the location of the retailer on the map in order to pick up items. Once the booking has been confirmed, a confirmation email will be sent to the user. Users can give a rating after the acquisition is completed. As a retailer, he/she will be able to check bookings via the admin portal.
</p>
